label { display: inline-block; zoom: 1; *display: inline; width: 110px; margin-top: 10px;  }

#searchForm { position: relative; margin: 10px 0; font-size: 11px; }
#searchForm h3 { font-size: 13px; }
#searchForm h3 .nummer { display: inline-block; zoom: 1; *display: inline; width: 25px; } 

#searchForm p { margin-left: 25px; }

#searchForm ul#criteria { margin-left: 25px; padding-left: 0px; list-style-type: none;  }
#searchForm ul#criteria li { margin: 2px 0; padding: 2px 0; }
#searchForm ul#criteria li span, 
#searchForm ul#criteria li a { display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-right: 5px; }
#searchForm ul#criteria li .entityfield { width: 200px; }
#searchForm ul#criteria li .operator { width: 100px; }
#searchForm ul#criteria li .value { width: 240px; }
#searchForm ul#criteria li .addButton { margin: 4px 0; }
#searchForm ul#criteria li input, #searchForm ul#criteria li select { font-size: 11px; }

#searchForm ul#criteria li.titlerow { font-weight: bold; border-bottom: 1px solid #aaa; }

#searchMode { display: none; }

.ui-menu-item .entity { color: #666; font-style: italic; }

.searchoptions { font-size: 10px; margin-bottom: 3px; }
.searchoptions label { margin-top: 4px; }
.searchoptions ul#criteria { list-style-type: none; margin-left: 0; padding-left: 0; display: inline; }
.searchoptions ul#criteria li { margin-left: 0; padding-left: 0; display: inline; }

input.transparent, a.disabled { 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
}