label { display: inline-block; zoom: 1; *display: inline; width: 110px; margin-top: 10px;  }

#searchForm { position: relative; border: 1px solid #666666; padding: 5px 10px; margin: 10px 0; }

#searchForm ul#criteria { margin-left: 110px; padding-left: 0px; margin-top: -19px; list-style-type: none;  }
#searchForm ul#criteria li { margin: 2px 0; padding-left: 0; }
#searchForm ul#criteria li span, 
#searchForm ul#criteria li a { display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-right: 5px; }
#searchForm ul#criteria li .entityfield { width: 180px; }
#searchForm ul#criteria li .operator { width: 100px; }
#searchForm ul#criteria li .value { width: 240px; }

#searchForm ul#criteria li.emptyList { color: #666; }
#searchForm ul#criteria li.emptyList:hover { cursor: default; }

#searchForm ul#criteria li:hover { cursor: pointer; }
#searchForm ul#criteria li:hover span { text-decoration: line-through; }

#input_criteria { display: block; float: right; width: 260px; border-left: 1px solid #666; padding: 10px; position: relative; height: 100%; }
#input_criteria h2 { margin-top: 2px; margin-bottom: 8px; font-weight: bold; }
#input_criteria label { width: 80px; margin-top: 8px; }
#input_criteria input.text, #input_criteria select { width: 165px; }
#input_criteria input.button {  margin-top: 8px; }
#input_criteria .explanation { font-size: 10px; }

.ui-menu-item .entity { color: #666; font-style: italic; }

.searchoptions { font-size: 10px; margin-bottom: 3px; }
.searchoptions label { margin-top: 4px; }
.searchoptions ul#criteria { list-style-type: none; margin-left: 0; padding-left: 0; display: inline; }
.searchoptions ul#criteria li { margin-left: 0; padding-left: 0; display: inline; }

/** Options buttons **/
.options { margin-top: 8px; }
.options.multiple { float: left; width: 300px; }

.options a {
	font-size: 10px;
	font-weight: bold;
	margin-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 20px;
	padding-left: 28px;	
}

#content .options a.disabled { color: #aaa; cursor: default; }

.options a.performAction {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/brick_go.png) 5px 50% no-repeat;
}
.options a.excel {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/page_excel.png);
}
.options a.searchIn {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/arrow_branch.png) 5px 50% no-repeat;
}
.options a.search {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/arrow_undo.png) 5px 50% no-repeat;
}
.options a.discard {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/basket_remove.png) 5px 50% no-repeat;
}
.options a.listPrevious {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/basket.png) 5px 50% no-repeat;
}
.options a.combine {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/arrow_join.png) 5px 50% no-repeat;
}