/** Options buttons **/
.options { margin-top: 8px; }
.options.multiple { float: left; width: 300px; }

.options a {
	font-size: 10px;
	margin-right: 10px;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 20px;
	padding-left: 28px;	
	background-position: 5px 50%;
	background-repeat: no-repeat;
}

.options a.default {}
.options .separator { margin-left: 25px; }

#content .options a.disabled { color: #aaa; cursor: default; }

.options a.next {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_right.png);
}
.options a.previous {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_left.png);
}

.options a.save {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/page_save.png);
}
.options a.open {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/page.png);
}
.options a.skip {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/control_end_blue.png);
}
.options a.view {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/application_form_magnify.png);
}
.options a.restart {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_redo.png);
}
.options a.edit {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/application_form_edit.png);
}

.options a.refresh {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_refresh.png);
}
.options a.performAction {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/brick_go.png);
}
.options a.refineSearch {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/magnifier.png);
}
.options a.excel {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/page_excel.png);
}
.options a.searchIn {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_branch.png);
}
.options a.search {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_undo.png);
}
.options a.discard {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/basket_remove.png);
}
.options a.listPrevious {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/basket.png);
}
.options a.combine {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_join.png);
}

.options a.add {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/add.png);
}
.options a.delete {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/delete.png);
}

.options a.validate {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/accept.png);
}
.options a.import {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/database_add.png);
}


.options a.back {
	background-image: url(../plugins/famfamfam-1.0.1/images/icons/arrow_undo.png);
}
