/**
 * Default style for all instances of GSCF. Can be
 * overridden in specific stylesheets for different
 * environments. See basefilters.groovy
 */
/* Import google web fonts*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic,700,700italic,800,800italic,300);
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #f7f5f2;
    color: #262626;
}

.container { margin: 0 auto;}
.ui-widget, .simileAjax-bubble-container { text-align: left; }

a {
    color:#45bee1;
    text-decoration: none;
    outline: none;
}

li{
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
textarea {
    resize: vertical;
}
input,
select,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
.placeholder {
    color: #aaa;
}
input.placeholder {
    color: #aaa !important;
}
input:-ms-input-placeholder {
    color: #aaa !important;
}

img {
    vertical-align: middle;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right !important;
}
.buttonInvisible {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.buttonInvisible:hover {
    cursor: default !important;
}
h1 {
    color: #2087a3;
    font-size: 28px;
    font-family: "Raleway";
    font-weight: 300;
    padding-bottom: 4px;
    line-height: normal;
}

h2 {
    color: #2087a3;
    font-size: 22px;
    font-family: "Raleway";
    font-weight: 300;
    padding-bottom: 10px;
    line-height: normal;
}
.container:before,
.container:after,
#header:before,
#header:after,
#content:before,
#content:after,
#footer:before,
#footer:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after,
#header:after,
#content:after,
#footer:after {
    clear: both;
}
.container,
#header,
#content,
#footer {
    *zoom: 1;
}
/** START :: container **/
#wrapper {
    min-width: 980px;
}
.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

/** END :: container **/
/** START :: header **/
#header {
    padding-top: 25px;
    position: relative;
    z-index: 1;
}
#header .logo {
    float: left;
}
#header .loginBlock {
    float: right;
}
#header .loginBlock > li {
    float: left;
    line-height: 34px;
    color: #929292;
    padding-left: 12px;
}
#header .loginBlock > li a {
    font-family: "Raleway";
    font-weight: 600;
}
#header .loginBlock > li .photo img {
    margin-right: 10px;
}
#overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 10;
    display: none;
}
.popup {
    background: #fff;
    position: fixed;
    top: -150000em;
    left: -150000em;
    z-index: 11;
    width: 680px;
}
.popup .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    background: url(../images/default_style/close.png) 0 0 no-repeat;
    font-size: 0px;
}
.popup .close:hover {
    text-decoration: none;
    background-position: 0 -32px;
}
.popup .heading {
    background: #f6fcfd;
    padding: 0 15px;
    border-bottom: 1px solid #d8f5fd;
    height: 27px;
    color: #2087a3;
    line-height: 27px;
}
.popup .heading a {
    font-family: "Raleway";
    font-weight: 600;
    color: #2087a3;
}
.popup .content {
    padding: 15px 30px 30px 30px;
}

.loginPopup .content {
    overflow: hidden;
    padding-top: 20px;
}
.loginPopup .fieldset {
    width: 295px;
    float: left;
}
.loginPopup .fieldset.loginForm {
    float: right;
}
.loginPopup .fieldset ul {
    background: #f6fcfd;
    border: 1px solid #d8f5fd;
    padding: 10px;
}
.loginPopup .fieldset ul li {
    padding-top: 10px;
    color: #949494;
}
.loginPopup .fieldset ul li:first-child {
    padding-top: 0;
}
.loginPopup .fieldset input[type="text"],
.loginPopup .fieldset input[type="password"] {
    width: 260px;
}
.loginPopup .loginForm .icheckbox + label {
    padding: 0 10px 0 5px;
}
.templatePopup h2 {
    padding-bottom: 12px;
}
.popup p {
    line-height: 1.7;
}
.chooseTemplate .datatable-1 {
    padding: 15px 0;
    width: 385px;
}
.datatable-1 .action {
    text-align: right;
}
.datatable-1 .action a {
    margin-left: 10px;
}
/** END :: header **/
/** START :: topnav **/
.topbar {
    background: url(../images/default_style/bg-topbar.png) center 0 no-repeat;
    height: 47px;
    margin-top: 25px;
}
ul.topnav {
    float: left;
}

ul.topnav > li {
    float: left;
    position: relative;
}

ul.topnav > li > a {
    padding: 0 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Raleway";
    line-height: 47px;
    display: block;
    border-right: 1px solid #73d3ee;
}
.ie7 ul.topnav > li > a,
.ie8 ul.topnav > li > a {
    font-size: 14px;
}
ul.topnav > li > a:hover,
ul.topnav > li > a.hover {
    text-decoration: none;
    background: #3aadce;
}
ul.topnav > li > a:active,
ul.topnav > li.active > a {
    text-decoration: none;
    background: #2087a3;
    border-right: 1px solid #2087a3;
}
ul.topnav > li > a .subicon {
    background: url(../images/default_style/arr-menu.png) 0 0 no-repeat;
    width: 10px;
    height: 5px;
    margin-left: 5px;
}
ul.topnav li .subnav {
    display: none;
    height: 0;
    overflow-y: hidden;
    position: absolute;

}
ul.topnav li .subnav > ul  li {
    position: relative;
}
ul.topnav li .subnav li a {
    background-color: #3aadce;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Raleway";
    white-space: nowrap;
    border-top: 1px solid #73d3ee;
    display: block;
    width: 180px;
}
ul.topnav li .subnav li a:hover,
ul.topnav li .subnav li a.hover {
    background-color: #2087a3;
    text-decoration: none;
}
ul.topnav li .subnav li:first-child > a,
ul.topnav li .subnav li:first-child .subsubnav li:first-child > a {
    border-top: none;
}
.subsubnav {
    display: none;
    overflow: hidden;
    position: absolute;
    width: 0;
    top: 0;
}
.subsubnav .subsubnav {
    left: 210px !important;
}

li.has-child > a {
    background-image: url(../images/default_style/arr-4.png);
    background-position: 100% 49%;
    background-repeat: no-repeat;
}
ul.topnav li .subsubnav li:first-child > a,
ul.topnav li .subnav li .subsubnav li:first-child > a,
ul.topnav li .subnav .subsubnav li:first-child .subsubnav li:first-child > a  {
    border-top: 1px solid #fff;
}
.topbar .search {
    float: right;
    padding-top: 6px;
}
.topbar .search input[type="text"] {
    border: none;
    background: url(../images/default_style/bg-input.png) 0 0 no-repeat;
    height: 18px;
    padding: 8px 15px;
    float: left;
    margin: 0;
    width: 120px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
}
.topbar .search input[type="text"]:focus,
.topbar .search input[type="text"].focus {
    outline: none;
    border: none;
}
.ie7 .topbar .search input[type="text"],
.ie8 .topbar .search input[type="text"]  {
    width: 170px;
}
.topbar .search input[type="submit"],
.topbar .search input[type="button"] {
    background: #2087a3;
    border: none;
    border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -ms-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    height: 34px;
    width: 50px;
    padding: 0 0px;
    color: #fff;
    font-family: "Raleway";
    font-weight: 600;
    float: left;
    font-size: 12px;
    overflow: visible;
    margin: 0;
}

.topbar .search .search_spinner {
    margin-top: 10px;
    padding-left: 20px;
    position: absolute;
    opacity: 0;
}

/**
Actual submit button is not needed, thus no hover

.topbar .search input[type="submit"]:hover,
.topbar .search input[type="button"]:hover {
    cursor: pointer;
    background: #42afce;
}
**/

/** END :: topnav **/
/** START :: content **/
#content {
    background: url(../images/default_style/bg-bottommain.png) center 100% no-repeat;
    padding-bottom: 60px;
}
#content > .inner {
    padding-top: 20px;
    background: url(../images/default_style/bg-middlemain.png) center 100% repeat-y;
}
.main-content {
    width: 590px;
    float: left;
}
.main-content h1 {
    margin-top: 0;
}
.aside-right {
    width: 330px;
    float: right;
}
.breadcrumb {
    font-size: 13px;
    padding: 12px 0;
    border-bottom: 1px solid #d8f5fd;
    font-family: "Raleway";
    color: #919191;
}
h1.title {
    margin-top: 25px;
}
.breadcrumb a,
.breadcrumb span {
    padding: 0 8px;
}
.breadcrumb a:first-child,
.breadcrumb span:first-child {
    padding-left: 0;
}
/** END :: content **/


/** START :: footer **/
#footer {
    font: 11px Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 0 15px 0;
}

#footer .copyright {
    display: inline-block;
    background: url(../images/default_style/phenotypedb-icon.png) 100% 0 no-repeat;
    padding-right: 35px;
    padding-top: 4px;
    min-height: 24px;
    color: #85827d;
}
.ie7 #footer .copyright {
    display: inline;
}
/** END :: footer **/

/** START :: TABLES **/

h2 + .datalist {
    margin-top: 7px;
}
table {
    width: 100%;
}
tr {
    border-top: 1px solid #bcebf7;
}
th {
    background: #d8f5fd;
    text-align: left;
    color: #757575;
    font-weight: 600;
    font-family: "Raleway";
    font-size: 12px;
    padding: 10px 10px;
    line-height: 1.7;
    vertical-align: middle;
}
th a {
    color: #2087a3;
}
th.asc a {

}

th.desc a {

}
td {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 12px 10px;
    vertical-align: middle;
    overflow: hidden;
}
.odd {
    background: #f6fcfd;
}

.even {
    background: #fff;
}
table input[type="text"] {
    padding: 3px 5px;
    float: left;
}
table input[type="text"].small {
    width: 60px;
    float: left;
}
table input[type="text"].medium {
    width: 100px;
}
table th input[type="text"] + a img.icon {
    margin-top: 5px;
    margin-left: 5px;
}
table .selectBox-dropdown {
    background: url(../images/default_style/bg-left-selectbox-small.png) 0 0 no-repeat;
    height: 27px;
    line-height: 27px;
    min-width: 95px;
}
table .selectBox-dropdown .selectBox-label {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
table .selectBox-dropdown-menu li a {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
table .selectBox-dropdown .selectBox-arrow {
    background: url(../images/default_style/selectbox-arrow-small.png) 100% 0 no-repeat;
    height: 27px;
}
table  .nowrap {
    width: 100px;
    float: left;
}
.datatable-1 table tr {
    border-bottom: none;
    border-top: 1px solid #fff;
}
.datatable-1 table td,
.datatable-1 table tr.inactive:hover td {
    background: #d8f5fd;
    color: #45bee1;
    padding: 9px 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}
.datatable-1 table tr:first-child {
    border-top: none;
}
.datatable-1 table tr:hover td {
    background: #caf4ff;
}
/** END :: TABLES **/

/** START :: LIST **/
.list table {
    border-collapse: collapse;
}

.list th, .list td {
    border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/** END :: LIST **/

/** START :: buttons **/
.buttons {
    padding-top: 20px;
    overflow: hidden;
}

/* Hides the default navigation bar that is added by the Grails scaffolding */
/* .nav { display: none; } */

/* Links in the buttons section should look just like buttons in the
   same section */
#content .button a {
    color: #333;
}

.buttons a {
    float: left;
}

.buttons input,
input[type="submit"],
input[type="button"] {
    overflow: visible;
    line-height: normal !important;
}
input:focus[type="submit"] {
    outline: none;
}
.loginBlock .login,
.buttons .button-1,
.button-1 {
    background: #45bee1;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 600;
    text-align: center;
    height: 34px;
    line-height: 34px;
    float: left;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -webkit-border-radius: 18px;
    padding: 0 20px;
    border: none;
}
.buttons .button-1,
.button-1 {
    font-size: 15px;
}
.loginBlock .login:hover,
.buttons .button-1:hover,
.button-1:hover {
    text-decoration: none;
    background: #42afce;
    cursor: pointer;
}
.loginBlock .login:active,
.buttons .button-1:active,
.button-1:active {
    text-decoration: none;
    background: #43a3bf;
}
.buttonInvisible.button-1:hover,
.buttonInvisible.button-1:active {
    background: #45bee1;
}
.loginBlock .signup,
.buttons .button-2,
.button-2 {
    background: #e9644f;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 600;
    text-align: center;
    height: 34px;
    line-height: 34px;
    float: left;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -webkit-border-radius: 18px;
    padding: 0 20px;
    border: none;
}
.loginBlock .signup:hover,
.buttons .button-2:hover,
.button-2:hover {
    text-decoration: none;
    background: #d45541;
    cursor: pointer;
}
.loginBlock .signup:active,
.buttons .button-2:active,
.button-2:active {
    text-decoration: none;
    background: #c25544;
}
.buttonInvisible.button-2:hover,
.buttonInvisible.button-3:active {
    background: #e9644f;
}
.loginBlock .login,
.loginBlock .signup {
    width: 85px;
    padding: 0;
}
.buttons .button-3,
.button-3 {
    background: #e9644f url(../images/default_style/phenotypedb-icon-1.png) 100% 8px no-repeat;
    color: #fff;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    height: 46px;
    line-height: 44px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -webkit-border-radius: 25px;
    padding: 0 50px 0 22px;
    border: none;
}
.buttons .button-3:hover,
.button-3:hover {
    background-color: #d05b48;
    text-decoration: none;
    cursor: pointer;
}
.buttons .button-3:active,
.button-3:active {
    background-color: #c45a48;
    text-decoration: none;
}
.buttons .button-4,
.button-4 {
    float: left;
    border: 1px solid #45bee1;
    color: #45bee1;
    height: 34px;
    padding: 0 20px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -webkit-border-radius: 18px;
    line-height: 34px;
    font-size: 14px;
    background: #fff;
    font-family: "Raleway";
    font-weight: 600;
}
.buttons .button-4:hover,
.button-4:hover {
    background: #f6fcfd;
    text-decoration: none;
    cursor: pointer;
}
.buttons .button-4:active,
.button-4:active {
    background: #d8f5fd;
    text-decoration: none;
}
.buttonInvisible.button-4:hover,
.buttonInvisible.button-4:active {
    background: #fff;
}
.icon {
    background-image: url(../images/default_style/icon.png);
    background-repeat: no-repeat;
    background-size: 245px auto;
    display: block;
    font-size: 0;
}
a.icon:hover {
    text-decoration: none;
}
.ie7 .icon,
.ie8 .icon {
    background-image: url(../images/default_style/icon.png);
}
.searchIcon {
    background-position: -35px -35px;
    width: 12px;
    height: 15px;
}
.inactive .searchIcon {
    background-position: -210px -35px;
}
.editIcon {
    background-position: -70px -35px;
    width: 14px;
    height: 16px;
}
.inactive .editIcon {
    background-position: -140px -35px;
}
.reqIcon {
    background-position: -210px 0;
    width: 18px;
    height: 18px;
}
.downIcon {
    background-position: -175px 0;
    width: 18px;
    height: 18px;
}
.deleteIcon {
    background-position: -70px 0;
    width: 18px;
    height: 18px;
}
.inactive .deleteIcon {
    background-position: -175px -35px;
}
.addIcon {
    background-position: -105px 0;
    width: 18px;
    height: 18px;
}
.addArrIcon {
    background-position: -35px -70px;
    width: 18px;
    height: 18px;
}
.copyIcon {
    background-position: 0 -35px;
    width: 18px;
    height: 18px;
}
.inactive .copyIcon {
    background-position: -105px -35px;
}
.buttonBg {
    background-image: url(../images/default_style/button-retina.png);
    background-repeat: no-repeat;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 600;
    background-size: 25px auto;
    color: #45bee1;
    margin-right: 30px;
}
.ie7 .buttonBg,
.ie8 .buttonBg {
    background-image: url(../images/default_style/button.png);
}
.buttons input.add, .buttons a.add {
    background-position: 0 0;
    padding-left: 30px;
    min-height: 20px;
    padding-top: 1px;
}

.buttons input.edit, .buttons a.edit {
    background-position: 0 -139px;
    padding-left: 30px;
    min-height: 15px;
}

.buttons input.save, .buttons a.save {
    background-position: 0 -280px;
    padding-left: 27px;
    min-height: 17px;
}

.buttons input.open, .buttons a.open {
    background-position: 0 -210px;
    padding-left: 22px;
    min-height: 17px;
}
.buttons input.compare, .buttons a.compare {
    background-position: 0 -70px;
    padding-left: 30px;
    min-height: 20px;
    padding-top: 1px;
}

.buttons input.backToList, .buttons a.backToList {

}

.buttons input.cancel, .buttons a.cancel {

}

.buttons input.otherList, .buttons a.otherList {

}

/* Reset the font weight for buttons occurring within the table */
td.buttons input {
    font-weight: normal;
}

/** END :: buttons **/

/** START :: pagination buttons **/
.paginateButtons {
    overflow: hidden;
    padding-top: 20px;
}
.paginateButtons .prevLink,
.paginateButtons .nextLink {
    float: left;
    border: 1px solid #45bee1;
    color: #45bee1;
    height: 28px;
    padding: 0 25px 0 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -webkit-border-radius: 15px;
    line-height: 27px;
    font-size: 14px;
}
.paginateButtons .prevLink:hover,
.paginateButtons .nextLink:hover {
    background: #45bee1;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.paginateButtons .prev {
    margin-right: 5px;
}
.paginateButtons .next {
    margin-left: 5px;
}
.paginateButtons .pager span,
.paginateButtons .pager a {
    font-size: 14px;
    float: left;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -webkit-border-radius: 15px;
    line-height: 27px;
    margin: 0 3px;
}
.paginateButtons .pager span.currentStep {
    background: #45bee1;
    border: 1px solid #45bee1;
    color: #fff;
}
.paginateButtons .pager {
    float: left;
}
.paginateButtons .pager a {
    background: #fff;
    border: 1px solid #d8f5fd;
    color: #45bee1;
}
.paginateButtons .pager a:hover {
    text-decoration: none;
    background: #d8f5fd;
    color: #45bee1;
}
/** END :: pagination buttons **/

/* START :: datepicker */
.ui-datepicker-trigger {
    background: url(../images/default_style/datepicker.png) 0 0 no-repeat;
    width: 18px;
    height: 21px;
    margin: 6px 0 0 -24px;
    float: left;
}
.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;font-size:0;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0em}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right}.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}
.ui-datepicker-cover{position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}

.ui-datepicker.ui-widget-content {
    border: 1px solid #d5d5d5;
    background: #fff;
    z-index: 10 !important;
}
.ui-datepicker td span, .ui-datepicker td a {
    border: 1px solid #d5d5d5;
    color: #6d7376;
}
.ui-datepicker td a:hover {
    background: #f6fcfd;
}
.ui-datepicker  .ui-state-highlight,
.ui-datepicker  .ui-state-highlight:hover {
    background: #45bee1;
    color: #fff;
    border: 1px solid #45bee1;
}
.ui-datepicker .ui-datepicker-header {
    border: 1px solid #d5d5d5;
}
.ui-datepicker .ui-widget-header .ui-icon {
    background-image: url(../images/default_style/ui-icons_jquery.png);
    width: 16px;
    height: 16px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    font-size: 0;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}
.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
    color: #6d7376;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ui-state-disabled { cursor: default !important; }
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter:Alpha(Opacity=35);
    background-image: none;
}
.ui-datepicker-calendar th {
    background: #45bee1;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.ui-datepicker-current-day .ui-state-active {border: 1px solid #EE2C49;}
/* END :: datepicker */

/* START :: special select option styles */
option.addMore {

    background-color: #333;
    padding-left: 18px;
    height: 16px;
    color: #fff;
    font-weight: bold;
}

option.modify {

    background-color: #333;
    padding-left: 18px;
    height: 16px;
    color: #fff;
    font-weight: bold;
}

option.locked {

    padding-left: 18px;
}

option.unlocked {
    padding-left: 18px;
}
/* Dropdown control */
.selectBox-dropdown {
    min-width: 275px;
    position: relative;
    text-decoration: none;
    text-align: left;
    color: #262626;
    outline: none;
    vertical-align: middle;
    background: url(../images/default_style/bg-left-selectbox.png) 0 0 no-repeat;
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
    float: left;
    cursor: default;
    text-decoration: none!important;
    z-index: 0;
}
.selectBox-dropdown .selectBox-label {
    height: 34px;
    line-height: 34px;
    color: #262626;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none!important;
    font-size: 14px;
    font-family: inherit;
    background: url(../images/default_style/bg-selectbox.png) 0 0 repeat-x;
}
.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 34px;
    background: url(../images/default_style/selectbox-arrow.png) no-repeat right 0;
}
/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute !important;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    overflow: auto;
    overflow: hidden;
}
/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    background: #d8f5fd;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}
.selectBox-inline:focus {
    border-color: #666;
}
/* Options */
.selectBox-options li {
    border-top: 1px solid #fff;
}
.selectBox-options,
.selectBox-options li,
.selectBox-options li a {
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
    position: relative;
}
.selectBox-options li a {
    line-height: 34px;
    padding: 0 10px;
    height: 34px;
    white-space: nowrap;
    overflow: hidden;
    background: 6px center no-repeat;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
    background: #d8f5fd;
}
.selectBox-options li.first a {
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.selectBox-options li.last a {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
.selectBox-options li.selectBox-hover a,
.selectBox-options li a:hover {
    background-color: #bbeaf7;
}
.selectBox-options li.selectBox-disabled a {
    color: #888;
    background-color: transparent;
}
.selectBox-options li.selectBox-selected a {
    color: #6d7376;
    text-decoration: none;
}
.selectBox-options .selectBox-optgroup {
    color: #666;
    background: #eee;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}
/* Disabled state */
.selectBox.selectBox-disabled {
    color: #888 !important;
    opacity: .5;
    filter: alpha(opacity=50);
}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow {

    border-color: #666;
}

.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}
.selectBox-inline.selectBox-disabled .selectBox-options a {
    background-color: transparent !important;
}
/* END :: special select option styles */

#facebookConnect {
    padding:0px 0px 10px 0px;
    position:relative;
    z-index: 0;
}
/** START :: checkbox styles **/

/** Disabled disappearance of standard checkbox, custom one does not work (yet).
    same disappareance needed for type=radio when custom works?

input[type="checkbox"] {
    border: 0 none;
    opacity: 0;
    filter: alpha(opacity = 0);
    overflow: hidden;
    padding: 0;
    position: absolute;
    margin: 0;
}
**/

.icheckbox {
    background-image: url(../images/default_style/checkbox-off.png);
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 14px;
}
.ie7 .icheckbox  {
    display: inline;
}
.iradio {
    background-image: url(../images/default_style/radio-off.png);
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 16px;
}
.ie7 .iradio {
    display: inline;
}

.icheckbox.checked {
    background-image: url(../images/default_style/checkbox-on.png);
}
.css-label{
    background-image: url(../images/default_style/checkbox-off.png);
}
.iradio.checked {
    background-image: url(../images/default_style/radio-on.png);
}
/* END :: checkbox styles */
/** START :: radio elements wizard event page **/
.eventradio {

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4);
    -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
    -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4);
    color: #fff;
    font-weight: bold;

    height: 50px;
}
.eventradio .description {
    height: 50px;
    padding-left: 10px;
}
.eventradio .input {
    height: 50px;
    line-height: 50px;
    text-shadow: 0 0 1px #333333;
}
.label_check,
.label_radio { padding-left: 34px; padding-right: 40px; padding-top: 5px; padding-bottom: 2px; }
.label_radio {  }
.label_check {  }
label.c_on { }
label.r_on { }
.label_check input,
.label_radio input { position: absolute; left: -9999px; }
/** END :: radio elements wizard event page **/

/** START :: Tooltip & Autocomplete **/
.ui-tooltip {
    background: url(../images/default_style/arr-tooltip-4.png) 0 center no-repeat;
    width: 210px;
    padding-left: 14px;
    position: absolute;
}
.ui-tooltip-content {
    font-size: 12px;
    color: #262626;
    padding: 15px;
    background-color: #d8f5fd;
    line-height: 1.5;

}

.ui-autocomplete .about {
    font-size: 8px;
    font-size: 10px;
    color: #006DBA;
}

.ui-autocomplete .from {
    font-size: 8px;
    font-size: 10px;
    color: #666;
}
/** END :: Tooltip & Autocomplete**/
/** START :: Custom scrollbar **/
.scrollable {
    position: relative;
}

.scrollable:focus {
    outline: 0;
}

.scrollable .viewport {
    position: relative;
    overflow: hidden;
    height: 100%;
    border: 1px solid #bcebf7;
}

.scrollable .viewport .overview {
    position: absolute;
    min-width: 100%;
}

.scrollable .scroll-bar {
    display: none;
}

.scrollable .scroll-bar.vertical {
    position: absolute;
    right: 0;
    height: 100%;
}

.scrollable .scroll-bar.horizontal {
    position: relative;
    width: 100%;
}

.scrollable .scroll-bar .thumb {
    position: absolute;
    top: 1px;
}

.scrollable .scroll-bar.vertical .thumb {
    width: 100%;
    min-height: 10px;
}

.scrollable .scroll-bar.horizontal .thumb {
    height: 100%;
    min-width: 10px;
    left: 0;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Default skin*/

.scrollable.default-skin {
    padding-bottom: 16px;
}

.scrollable.default-skin .scroll-bar.vertical {
    width: 6px;
}

.scrollable.default-skin .scroll-bar.horizontal {
    height: 15px;
    background: #f6fcfd;
    border: 1px solid #d8f5fd;
    border-top: none;
}

.scrollable.default-skin .scroll-bar .thumb {
    background: #45bee1 url(../images/default_style/scroll-track-icon.png) center 2px no-repeat;
    height: 13px;
}

/** END :: Custom scrollbar **/

/** START :: Icons **/

.arrIcon {
    background-position: 0 0;
    width: 18px;
    height: 18px;
}
.infoIcon {
    background-position: -35px 0;
    width: 18px;
    height: 18px;
}

.warningIcon {
    background-position: -210px 0;
    width: 18px;
    height: 18px;
}

.tooltipIcon {
    background-position: -140px 0;
    width: 18px;
    height: 18px;
}
img.icon {
    display: inline;
}
/** END :: Icons **/

/** START :: Message Boxes **/
.infobox, .warningbox {
    padding: 14px 25px 20px 25px;
    line-height: 1.7;
}

.infobox {
    border: 1px solid #d8f5fd;
    background: #f6fcfd;

}

.warningbox {
    border: 1px solid #fdd8d8;
    background: #fdf6f6;
}

.warningbox .warningIcon {
    margin: 5px 10px 0 0;
    float: left;
}

.infobox .infoIcon {
    margin: 5px 10px 0 0;
    float: left;
}

.warningbox h2 {
    color: #a32020;
}
/** END :: Message Boxes **/

div.usermanagement { font-size: 0.8em; }
