* {
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
}
body {
	margin: 0; padding: 0;
	font-size: 12px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 200px; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1em; }
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

/* START :: ontology autocomplete */
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item {
    font-size: 10px;
}
.ui-autocomplete .about {
    font-size: 10px;
    color: #006DBA;
}
.ui-autocomplete .from {
    font-size: 10px;
    color: #666;
}
/* END :: ontology autocomplete */

/* In a dialog, headers shoudn't be displayed, as the dialog itself has a title */
h1, h2  {
    display: none;
}

/** START :: content **/
#content {
	padding-top: 40px;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 10pt;
	padding-bottom: 20px;
}

#content p {
    text-align: justify;
}
#content a:link, #content a:visited, #content a:hover{
    color: #006dba;
    text-decoration: none;
}
#content p img {
    display: run-in;
    float: right;
    padding: 2px;
    border: 1px solid #006dba;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 120px;
}

#content .message {
    border: 1px solid #ccc; /* #006dba; */
    margin-bottom: 10px;
    margin-top: 10px;

    background: #f7f7f7 url(../plugins/famfamfam-1.0.1/images/icons/information.png) 10px 10px no-repeat;
    padding: 10px 10px 10px 33px;

}

/** END :: content **/
/** START :: TABLES **/
table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    /*font: 11px verdana, arial, helvetica, sans-serif;*/
	font-size: 11pt;
    line-height: 12px;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

tr.prop td { padding-top: 2px; padding-bottom: 2px; }
/** END :: TABLES **/

/** START :: LIST **/
.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}
/** END :: LIST **/

/** START :: buttons **/
.buttons {
    margin-top: 15px;
    font-size: 10px;
}

/* Hides the default navigation bar that is added by the Grails scaffolding */
/* .nav { display: none; } */

/* Links in the buttons section should look just like buttons in the
   same section */
#content .button a {
    color: #333;
}
.button a {
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
    overflow: visible;
    padding: 2px 6px;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}

.buttons input.delete, .buttons a.delete {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.edit, .buttons a.edit  {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/application_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.save, .buttons a.save {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/accept.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.create, .buttons a.create {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/add.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.backToList, .buttons a.backToList {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/application.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.cancel, .buttons a.cancel {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/delete.png) 5px 50% no-repeat;
	padding-left: 28px;
        font-weight: normal;
}
.buttons input.otherList, .buttons a.otherList {
	background: transparent url(../plugins/famfamfam-1.0.1/images/icons/application_view_detail.png) 5px 50% no-repeat;
	padding-left: 28px;
}

/* Reset the font weight for buttons occurring within the table */
td.buttons input { font-weight: normal; }

/** END :: buttons **/

/** START :: pagination buttons **/
.paginateButtons {
    margin-top: 15px;
    overflow: auto;
    width: 100%;
}

.paginateButtons a,
.paginateButtons span.currentStep {
    border:solid 1px #ccc;
    margin-right:2px;
    display:block;
    float:left;
    padding:1px 6px;
    text-decoration:none;
}

.paginateButtons a {
    color:#0e509e;
}

.paginateButtons span.currentStep {
    background:#2e6ab1;
    color:#FFFFFF;
}

/** END :: pagination buttons **/

/* START :: ontology autocomplete */
.ui-autocomplete .ui-menu-item {
    font-size: 10px;
}
.ui-autocomplete .about {
    font-size: 8px;
    color: #006DBA;
}
.ui-autocomplete .from {
    font-size: 8px;
    color: #666;
}
/* END :: ontology autocomplete */

/* START :: special select option styles */
option.addMore {
    background: url(../plugins/famfamfam-1.0.1/images/icons/add.png) no-repeat left top;
    background-color: #333;
    padding-left: 18px;
    height: 16px;
    color: #fff;
    font-weight: bold;
}
option.modify {
    background: url(../plugins/famfamfam-1.0.1/images/icons/layout_add.png) no-repeat left top;
    background-color: #333;
    padding-left: 18px;
    height: 16px;
    color: #fff;
    font-weight: bold;
}
option.locked {
    background: url(../plugins/famfamfam-1.0.1/images/icons/lock.png) no-repeat left top;
    padding-left: 18px;
}
option.unlocked {
    padding-left: 18px;
}
/* END :: special select option styles */

/* START :: info boxes */
.info {
    display: block;
    border: 1px solid #006DBA;
    background-color: #f8feff;
    padding: 10px;
    font-size: 10px;
    margin: 10px 0px 10px 0px;
}

.info .title {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../plugins/famfamfam-1.0.1/images/icons/information.png) no-repeat center left;
}

.info .todo {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../plugins/famfamfam-1.0.1/images/icons/wrench.png) no-repeat center left;
}

.info .known {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../plugins/famfamfam-1.0.1/images/icons/eye.png) no-repeat center left;
}

.info .error {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../plugins/famfamfam-1.0.1/images/icons/exclamation.png) no-repeat center left;
}

.famfamfam {
    width: 16px;
    height: 16px;
}

.spinner {
    background: url(../images/spinner.gif) no-repeat left top;
    width: 16px;
    height: 16px;
    display: none;
}

/* END : info boxes */

/* START : input element styles */

input, textarea {
    border: 1px solid #CCC;
    margin: 2px 0;
    padding: 2px 4px;
    background-color: #fff;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #B2D1FF;
    background-color: #fff;
}

/* END : input element styles */
