/**
 * importer specific css
 *
 * @author	Jeroen Wesbeek
 * @since	20101214
 *
 * Revision information:
 * $Rev$
 * $Author$
 * $Date$
 */
.header
{
    border-collapse:collapse;
    border-width: 1px;
    border-color: red;
    background-color: #DDDDDD;
}

.selectsmall {
    font-size: 10px;
}

.buttonsmall {
    font-size: 10px;    
}

.datamatrix
{
    background-color: #CCDDCC;
}

.valueundefined
{
    border-collapse:collapse;
    border-width: 1px;
    border-color: red;
    background-color: #DDDDDD;
    color: gray;
}

.importer .table {
    color:green;
}

.importer .tr {
    color:red;
}

.importer .td {
    color:blue;
}

.validationfail {
    color: red;
}