/** First upload page of importer */
.importer .element { margin: 6px 0; }
.importerParameters select { width: 350px; }
#datapreview { width: 920px; }

/** Data preview in importer (several steps show a preview */
.dataTables_wrapper .dataTables_length { width: 35%; }
.dataTables_wrapper .dataTables_filter { width: 35%; }

/** Importer match page */
#example-header-select { display: none; }
.header-select { color: black; }
#data-with-headers { width: 960px; }
.dataTables_wrapper .match_options { width: 27%; float: left; text-align: center; }



/**
 * importer specific css
 *
 * @author	Jeroen Wesbeek
 * @since	20101214
 *
 * Revision information:
 * $Rev$
 * $Author$
 * $Date$
 */
.header
{
    border-collapse:collapse;
    border-width: 1px;
    border-color: red;
    background-color: #DDDDDD;
}

.selectsmall {
    font-size: 10px;
}

.buttonsmall {
    font-size: 10px;    
}

.datamatrix
{
    background-color: #CCDDCC;
}

.valueundefined
{
    border-collapse:collapse;
    border-width: 1px;
    border-color: red;
    background-color: #DDDDDD;
    color: gray;
}

.importer .table {
    color:green;
}

.importer .tr {
    color:red;
}

.importer .td {
    color:blue;
}

.validationfail {
    color: red;
}