.header
{
    border-collapse:collapse;
    border-width: 1px;
    border-color: red;
    background-color: #DDDDDD;
}

.selectsmall {
    font-size: 10px;
}

.datamatrix
{
    background-color: #CCDDCC;
}

.valueundefined
{
    border-collapse:collapse;
    border-width: 1px;
    border-color: red;
    background-color: #DDDDDD;
    color: gray;
}

