.simplequery .content {
    padding: 0px 10px 0px 10px;
    display: inline;
    border: 0px;
}

.simplequery .element {
    display: block;
}

.simplequery .element .description {
    padding: 5px;
    display: inline-block;
    font-size: 11px;
    width: 250px;
    word-wrap: break-word;
}

.simplequery .element .descriptionSA {
    padding: 5px;
    display: inline-block;
    font-size: 11px;
    width: 75px;
    word-wrap: break-word;
}

.simplequery .submit {
    padding: 5px;
    display: inline;
    font-size: 11px;
    word-wrap: break-word;
}

.simplequery .element .input {
    display: inline;
    margin-right: 10px;
    font-size: 11px;
    word-wrap: break-word;
}

.simplequery .element .input input {
    vertical-align: top;
    border: 1px solid #CCC;
    margin: 2px 0;
    padding: 2px 4px;
}

.simplequery .table {
    display: block;
    border: 1px solid #ff0000;
    background-color: #ebf7fc;
    margin-top: 10px;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}
