/* 
    Document   : studies
    Created on : 20-mei-2010, 9:45:57
    Author     : Robert
    Description:
        Styling of the study detail page including tabs
*/

/* Removing background */
/*
#studies .ui-widget-content { background-color: transparent; background-image: none; }
#studies .ui-widget-header { background-color: transparent; background-image: none; }
*/

/* Resetting font-size of tab buttons */
#studies .ui-widget { font-size: 0.8em; }

/*
    Put layout on the table of comparing different studies
    See for rotation: http://snook.ca/archives/html_and_css/css-text-rotation

*/
.studytitle {
    vertical-align: center;
}

/*
    Hide the timeline by default in order to create a good layout for non-script
    browsers. The div is shown again using javascript
*/
.eventstimeline {
    display: none;
    height: 350px;
    margin-left: 200px;
    border: 1px solid #cccccc;
}
.eventtitles {
    display: none;
    position: absolute; width: 200px;
}
.eventtitles .timeline-subjects {
    margin-top: 3px;
    font-size: 0.9em;
    color: #555;
}

.eventtitles .timeline-title {
    position: absolute;
    width: 190px;
    padding: 5px;
}

/* Hide titles for overview and date bands */
.eventtitles .timeline-title-0,
.eventtitles .timeline-title-1 { display: none; }

/* Background color of the overview and date bands */
.eventstimeline .timeline-band-0 .timeline-ether-bg { background-color:#eee }
.eventstimeline .timeline-band-1 .timeline-ether-bg { background-color:#ddd; }

/* Background colors of the other bands (and titles)*/
.eventstimeline .timeline-band-2 .timeline-ether-bg ,
.eventstimeline .timeline-band-4 .timeline-ether-bg ,
.eventstimeline .timeline-band-6 .timeline-ether-bg ,
.eventstimeline .timeline-band-8 .timeline-ether-bg ,
.eventstimeline .timeline-band-10 .timeline-ether-bg ,
.eventstimeline .timeline-band-12 .timeline-ether-bg ,
.eventstimeline .timeline-band-14 .timeline-ether-bg ,
.eventstimeline .timeline-band-16 .timeline-ether-bg,
.eventtitles .even
    {background-color:#eee}

.eventstimeline .timeline-band-3 .timeline-ether-bg ,
.eventstimeline .timeline-band-5 .timeline-ether-bg ,
.eventstimeline .timeline-band-7 .timeline-ether-bg ,
.eventstimeline .timeline-band-9 .timeline-ether-bg ,
.eventstimeline .timeline-band-11 .timeline-ether-bg ,
.eventstimeline .timeline-band-13 .timeline-ether-bg ,
.eventstimeline .timeline-band-15 .timeline-ether-bg ,
.eventstimeline .timeline-band-17 .timeline-ether-bg,
.eventtitles .odd
    {background-color:#ddd}

.eventtitles .studytitle { font-weight: bold; background-color: transparent; }

