/** START :: BIG BUTTONS and BIG TEXT **/
.bigbutton {
    background: url(../images/wizard/big-button.jpg) no-repeat left top;
    border: 0px;
    width: 454px;
    height: 53px;
    color: #fff;
    font-size: 18pt;
}
.bigbutton:hover {
    color: #000;
}
.bigtext {
    color: #006dba;
    font-weight: normal;
    font-size: 24px;
    margin: .8em 0 .3em 0;
    display: block;
    width: 100%;
    text-align: center;
}
/** END :: BIG BUTTONS and BIG TEXT **/

/** START :: study page upload buttons **/
div .upload_button {
    display: inline; border: 1px solid #006dba; padding: 4px 8px; cursor: pointer; line-height: 26px;
}

div .upload_info {
    display: inline; color: #006dba;
    margin-left: 5px; 
}

div .upload_info a {
	text-decoration: underline;
}

div .upload_del img {
	border-width: 0;
	padding-left: 6px; 
}

div .upload_del {
	display: none;
}

div .upload_info .error {
    color: red;
}
/** END :: study page upload buttons **/

/** START :: study page publication, contact and users lists **/
div ul.publication_list, div ul.contact_list, div ul.user_list, div ul.userGroup_list {
    list-style-type: none;
    margin: -10px 0 0 255px;
    padding: 0;
}
div ul.publication_list li, div ul.contact_list li, div ul.user_list li, div ul.userGroup_list li {
    margin-left: 0px;
    padding: 4px 6px;
}
div li.even {
    background-color: #F3F3F3;
}
div li.odd {
    background-color: #FAFAFA;
}
div li .delete_button {
	float: right;
	margin-left: 10px;
	cursor: pointer;
}
div ul.publication_list li .authors {
	font-size: 10px;
	margin-top: 3px;
	color: #333;
}
div ul.contact_list li .person {
	display: inline;
}
div ul.contact_list li .role {
	color: #000099;
	display: inline;
	margin-left: 5px;
}
div ul.contact_list li .role:before {
	content: ' / ';
	color: #000099;
}
div .contacts_dialog {
	margin: 5px 0;
}
/** END :: study page publication, contact and users lists **/

/** START :: table editor button styles **/
.tableEditor input[type=button] {
	border: none;
	width: 16px;
	height: 16px;
	background-color: transparent;
}
.tableEditor input.delete {
	background: url(../plugins/famfamfam-1.0.1/images/icons/delete.png) no-repeat left top;
}
.tableEditor input.clone {
	background: url(../plugins/famfamfam-1.0.1/images/icons/application_put.png) no-repeat left top;
}
/** END :: table editor button styles **/