/* Overall layout: use whole page width */
.container { width: auto; }
#header{ position: relative; width: 960px; margin: 0 auto; }
#header .buildinfo{ display: none;}
div#content { padding-top: 30px; padding-bottom: 0px;}
div#content p {text-align: left;}

/* #step2, #step3 { display: none; } */
label { display: inline-block; }

table.jqplot-table-legend { width: 100px; }

#visualization {
    width: 100%;
}

#data {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #DFE8F6;
}

/** START :: TABLE VISUALIZATION **/

table.tablevis {
    border-style: none;
}

table.tablevis th {
    font-weight: bold;
    padding: 5px 6px;
    background: none;
    background-color: #fafad2;
    border: 1px solid #CCCCCC;
    color: #444444;
}

table.tablevis td {
    border: 1px solid #CCCCCC;
}

table.tablevis td.caption {
    border-style: none;
    text-align: center;
    vertical-align: middle;
    font-style: italic;
}

/** START :: MESSAGES**/

#message_container {
    position: relative;
    min-width: 300px;
}

.message_box {
    position: relative;
    padding: 5px 35px;
    margin-bottom: 5px;
}

.message_error {
	border: 1px solid #f99;
}

.message_warning {
	border: 1px solid #06C;

}

#message_counter_container {
    position: absolute;
    right: 3px;
}

#message_counter_container:hover {
    text-decoration: underline;
    background: #87cefa;
    cursor:pointer;
}

div#message_counter_container.message_warningnew {
    width: 50px;
    height: 50px;
    background-color: #eee;
}

div#message_counter_container.message_errornew {
    width: 150px;
    height: 150px;
    background-color: #ffe0e0;
}

/** START :: VISUALIZATION MENU **/

#menu_container {
    float: left;
    width : 19%;
    margin: 0% 0% 0% 0.5%;
}

.menu_item {
    position: relative;
    width : 96%;
    margin: 0%;
    margin-bottom: 5px;
    padding: 2%;
    border: #006dba solid 1px;
    background-color: white;
    min-height: 60px;
    font-size: 10px;
}

.menu_item:hover {
    background-color: #EEE;
}

.menu_item_done {
    background-color: #67E667;
    border-color: green;
}

.menu_item_error {
    background-color: pink;
    border-color: red;
}

.menu_item_warning {
    background-color: yellow;
    border-color: #ffa07a;
}

.menu_item_fill {
    background-color: #A5DCFD;
    border-color: blue;
}

.menu_item_label {
    font-size: 16px;
    color: #006DBA;
}

#visualization_container {
    position: relative;
    display: block;
    width: 79.5%;
    min-height: 500px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 20%;
    border: #006dba solid 1px;
    background-color: white;
}

.menu_item select {
    width: 100%;
    font-size: 10px;
}

.menu_item p {
    margin-bottom: 0px;
}

#menu_go {
    background-color: white;
    text-align: center;
}

/* START :: Top menu */
#top_container {
    position: relative;
    width: 100%;
    background-color: #D0DEF0;
    border-bottom: #006dba solid 1px;
    padding-top: 5px;
    height: 25px;
    vertical-align: middle;
}

.topmenu_item {
    display: inline-block;
    position: relative;
    padding: 3px;
}

.topmenu_item:hover {
    background-color: white;
    cursor: pointer;
}

.topmenu_item_label {
    color: #000033;
}

.topmenu_item_info {
    color: #000066;
}

.formulier {
    font-size: 10px;
    position: absolute;
    top: 22px;
    left: 0px;
    display: none;
    padding: 10px;
    margin: 0px;
    background-color: white;
    border: #006dba double 1px;
    z-index: 10;
}

.formulier select {
    width: 100%;
    font-size: 10px;
}

.menu_seperator {
    background-position: center center;
    background-repeat: no-repeat;
    width: 4px;
    overflow: hidden;
    height: 100%;
}

/** START :: MISC */
#bottom_container {
    position: relative;
}

.spinner {
    display: none;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

#button_visualize {
    margin: 3px;
    padding: 10px;
    width: 90%;
    text-align: center;
    background-color: #DD0a0a;
    color: white;
    font-size: 16pt;
}

div.formulier {
    -moz-box-shadow: 3px 3px 4px #000; /* Firefox/Mozilla */
    -webkit-box-shadow: 3px 3px 4px #000; /*Safari/Chrome */
    box-shadow: 3px 3px 4px #000; /* Opera & hoe het zou moeten */
    /* Voor IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* Voor IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}