/* #step2, #step3 { display: none; } */
#ajaxError { 
	display: none;
	border: 1px solid #f99; /* #006dba; */
	margin-bottom: 10px;
	margin-top: 10px;

	background: #ffe0e0 url(${fam.icon( name: 'error' )}) 10px 10px no-repeat;
	padding: 10px 10px 10px 33px;
}

label { display: inline-block; zoom: 1; *display: inline; width: 110px; margin-top: 10px;  }

#visualizationForm { position: relative; margin: 10px 0; font-size: 11px; }
#visualizationForm h3 { font-size: 13px; }
#visualizationForm h3 .nummer { display: inline-block; zoom: 1; *display: inline; width: 25px; } 

#visualizationForm p { margin-left: 25px; }

table.jqplot-table-legend { width: 100px; }