/* Overall layout: use whole page width */
.container { width: auto; }
#header{ position: relative; width: 960px; margin: 0 auto; }
#header .buildinfo{ display: none;}
div#content { padding-top: 30px; padding-bottom: 0px;}
div#content p {text-align: left;}

/* #step2, #step3 { display: none; } */
label { display: inline-block; }

table.jqplot-table-legend { width: 100px; }

#visualization {
    width: 100%;
    height: 100%;
}

#data {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #E9F0FB;
    padding-top: 2px;
}

/** START :: TABLE VISUALIZATION **/

table.tablevis {
    border-style: none;
    font-size: small;
}

table.tablevis th {
    font-weight: bold;
    padding: 5px 6px;
    background: none;
    background-color: #fafad2;
    border: 1px solid #CCCCCC;
    color: #444444;
}

table.tablevis td {
    border: 1px solid #CCCCCC;
}

table.tablevis td.caption {
    border-style: none;
    text-align: center;
    vertical-align: middle;
    font-style: italic;
}

table.tablevis tr:not(:first-child) td:first-child.caption {
    border-bottom: 1px solid #CCCCCC;
}

/** START :: MESSAGES**/

#message_container {
    position: relative;
    width: 100%;
}

.message_box {
    position: relative;
    padding: 5px 35px;
    margin-bottom: 5px;
}

.message_error {
	border: 1px solid #f99;
}

.message_warning {
	border: 1px solid #06C;

}

#message_counter_container {
    position: absolute;
    right: 3px;
}

#message_counter_container:hover {
    text-decoration: underline;
    background: #87cefa;
    cursor:pointer;
}

/** START :: VISUALIZATION MENU **/

#menu_container {
    float: left;
    width : 24%;
    margin: 0% 0% 0% 0.5%;
}

.menu_item {
    position: relative;
    width : 96%;
    margin: 0%;
    margin-bottom: 5px;
    padding: 2%;
    border: 1px solid #006dba;
    background-color: white;
    min-height: 60px;
    font-size: 11px;
}

span.menu_done {
    background-color: #67E667;
}

span.menu_error {
    background-color: pink;
}

span.menu_warning {
    background-color: #ffa07a;
}

span.menu_fill {
    background-color: #A5DCFD;
}

.menu_header_label {
    display: inline-block;
    font-size: 17px;
    color: #006DBA;
    vertical-align: baseline;
}

.menu_header_clear, .menu_header_clear a {
    font-size: 10px;
}

.menu_header_count {
    display: inline-block;
    height: 22px;
    width: 25px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #DDD;
    color: white;
    text-align: center;
    padding-top: 3px;
}

#visualization_container {
    position: relative;
    display: block;
    width: 74.5%;
    min-height: 500px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 25%;
    border: #006dba solid 1px;
    background-color: white;
    vertical-align: middle;
}

#menu_go {
    background-color: white;
    text-align: center;
}

.settings {
    margin-top: 10px;
}

.settings img {
    border: 0px solid #000000;
}

/** START :: MISC */
#bottom_container {
    position: relative;
}

.spinner {
    display: none;
    width: 16px;
    height: 16px;
}

#button_visualize {
    margin: 3px;
    padding: 10px;
    width: 90%;
    text-align: center;
    background-color: #367BA4;
    color: white;
    font-size: 16pt;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.settingInfo {
    font-size: smaller;
    color: #999;
}

/* START :: Block variable */
.block_variable {
	position: relative;
	width: 100%;
    padding: 2px 0px 5px;
}

.block_variable .ui-autocomplete-input {
	width: 98%;
}

.block_variable input[disabled='disabled'] {
    background-color: #DDD;
}

.block_variable input[type='radio'] {
    margin-right: 5%;
}

.block_variable label {
    width: 35%;
}