.wizard {
    display: block;
    padding-top: 10px;
}

.wizard .spinner {
    background: url(../images/spinner.gif) no-repeat left top;
    width: 16px;
    height: 16px;
    display: none;
}

.wizard .sliderContainer {
    display: block;
    padding-top: 10px;
    width: 150px;
}

.wizard .tabs {
    display: block;
    height: 18px;
    padding-top: 20px;
    background-color: #EEEEEE;
}

.wizard .tabs .element {
    background-color: #EEEEEE;
    border-bottom: 4px solid #006DBA;
    border-right: 1px solid #006DBA;
    color: #006DBA;
    cursor: default;
    display: inline;
    font-size: 10px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    padding: 20px 15px 0px 15px;
    text-align: center;
    text-decoration: none;
}

.wizard .tabs .active {
    background-color: #add9ee;
    color: #fff;
    font-weight: bold;
}

.wizard .content {
    display: block;
}

.wizard .navigation {
    display: block;
    color: #666666;
    font-size: 10px;
    padding-top: 10px;
}

.wizard .prevnext {
    cursor: pointer;
    color: #006DBA;
    background-color: transparent;
    border: none;
}

.wizard .element .input .isExample {
    color: #006DBA;
    background-color: transparent;
    border: 0px;
    input: disabled;
}

.wizard .error {
    display: block;
    padding-top: 10px;
}

.wizard .element {
    display: block;
}

.wizard .element .description {
    display: inline-block;
    font-size: 11px;
    width: 250px;
    word-wrap: break-word;
}

.wizard .element .input {
    display: inline;
}

.wizard .element .input input {
    vertical-align: top;
    border: 1px solid #CCC;
    margin: 2px 0;
    padding: 2px 4px;
}

.wizard .element .input input:focus, select:focus, textarea:focus {
    border: 1px solid #B2D1FF;
}

/** START ::  HELP **/
.wizard .element .helpIcon {
    display: inline-block;
    margin-top: 4px;
    background: url(../images/icons/famfamfam/help.png) no-repeat left top;
    width: 16px;
    height: 16px;
}

.wizard .element .helpContent {
    display: none;
}

.wizard .element .help {
    vertical-align: top;
    display: inline-block;
}

.wizard .element .help .icon {
    margin-top: 4px;
    background: url(../images/icons/famfamfam/help.png) no-repeat left top;
    width: 16px;
    height: 16px;
}

.wizard .element .help .content {
    display: none;
}

/** END :: HELP **/

/* START ::  TABLE */
.wizard .table {
    display: block;
    border: 1px solid #575a5d;
    background-color: #ebf7fc;
    margin-top: 10px;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}

.wizard .table .header {
    display: block;
    background-color: #006DBA;
    color: #fff;
    font-weight: bold;
    width: auto;
    height: 32px;
    line-height: 32px;
}

.wizard .column {
    display: inline-block;
    padding: 2px 4px;
    width: 120px;
}

.wizard .firstColumn {
    display: inline-block;
    padding: 2px 4px;
    width: 20px;
}

.wizard .table .row {
    display: block;
    height: 32px;
    border-top: 1px solid #8e908f;
    width: auto;
}

.wizard .table .row input, .wizard .table .row select {
    background-color: #fff;
}

.wizard .table .ui-selected {
    background-color: #ffab7b;
}

.wizard .table .ui-selecting {
    background-color: #f2e3bc;
}

.wizard .table .row .error {
    color: red;
    font-size: 8px;
    height: 10px;
}

.wizard .table input, .wizard .table select {
    border: 1px solid #8e908f;
    margin: 2px 0;
    padding: 2px 4px;
    background-color: transparent;
    width: 100px;
}

.wizard .table .highlight, .wizard .table .highlight input, .wizard .table .highlight select {
    background-color: #006DBA;
    color: #fff;
}

.wizard .table .highlight input, .wizard .table .highlight select {
    background-color: #6e99d4;
    color: #fff;
}

/* END :: TABLE */

/* START :: GROUPING */
.wizard .grouping {
    border: 1px solid black;
    display: inline-block;
    height: auto;
    width: 100%;
}

.wizard .grouping .ui-selected {
    background-color: red;
}
.wizard .grouping .ui-selecting {
    background-color: orange;
}

.wizard .grouping .subjects {
    display: block;
    float: left;
}
.wizard .grouping .subjects .subject {
    margin: 1px;
    padding: 0.2em;
    font-size: .8em;
    height: 14px;
}
.wizard .grouping .middle {
    display: inline-block;
    float: left;
}
.wizard .grouping .add {
    background: url(../images/wizard/add.png) no-repeat left top;
    width: 149px;
    height: 29px;
    margin-top: 10px;
    margin-left: 14px;
}
.wizard .grouping .add-hover {
    background: url(../images/wizard/add-hover.png) no-repeat left top;
}
.wizard .grouping .remove {
    background: url(../images/wizard/remove.png) no-repeat left top;
    width: 149px;
    height: 29px;
    margin-top: 10px;
}
.wizard .grouping .remove-hover {
    background: url(../images/wizard/remove-hover.png) no-repeat left top;    
}
.wizard .grouping .right {
    display: inline-block;
    float: right;
}
.wizard .grouping .right .form {
    border: 1px solid black;
}
.wizard .grouping .group {
    margin: 5px 0px 5px 0px;
    border: 1px solid black;
    height: auto;
}
.wizard .grouping .ui-selected {
    border: 4px solid red;
}
.wizard .grouping .group .label {
    display: block;
    background-color: #006DBA;
    color: #fff;
    font-weight: bold;
    width: auto;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.wizard .grouping .group .subjects {
    display: inline-block;
    height: auto;
}
.wizard .grouping .group .subject {
    display: inline-block;
    width: 100%;
    font-size: 10px;
}

/* END :: GROUPING */