.wizard {
    display: block;
    padding-top: 10px;
}

.wizard .info {
    display: block;
    border: 1px solid #006DBA;
    background-color: #EEE;
    padding: 10px;
    font-size: 10px;
    margin: 10px 0px 10px 0px;
}

.wizard .info .title {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/icons/famfamfam/information.png) no-repeat center left;
}

.wizard .info .todo {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/icons/famfamfam/wrench.png) no-repeat center left;
}

.wizard .info .known {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/icons/famfamfam/eye.png) no-repeat center left;
}

.wizard .famfamfam {
    width: 16px;
    height: 16px;
}

.wizard .spinner {
    background: url(../images/spinner.gif) no-repeat left top;
    width: 16px;
    height: 16px;
    display: none;
}

.wizard .sliderContainer {
    display: block;
    margin-top: 10px;
    width: 150px;
}

/** START :: TABS **/

.wizard .tabs {
    display: block;
    padding-bottom: 2px;
    border-bottom: 2px solid #006DBA;
    width: 100%;
}
.wizard .tabs ul {
    list-style-type: none; /* suppression of useless elements */
    padding: 0px;
    font-size: 10px;
    margin: 0px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 20px;
    width: 100%;
}
.wizard .tabs img { border:0px; }
.wizard .tabs li {
    float: left;
    margin: 0px;
    height: 20px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #006DBA;
    background: #CCC;
    font-weight: bold;
}
.wizard .tabs .content {
    padding: 0px 10px 0px 10px;
    display: inline;
    border: 0px;
}
.wizard .tabs .active {
    background-color: #006DBA !important;
    color: #fff !important;
}
.wizard .tabs .arrow {
		position:inherit;
		margin-top: 0px;
		margin-bottom: 0px;
		display:inline;
}

/** END :: TABS **/

.wizard .content {
    display: block;
    padding-bottom: 10px;
    border-bottom: 2px solid #006DBA;    
}

.wizard .navigation {
    display: block;
    color: #666666;
    font-size: 10px;
}

.wizard .prevnext {
    cursor: pointer;
    color: #006DBA;
    background-color: transparent;
    border: none;
}

.wizard .element .input .isExample {
    color: #006DBA;
    background-color: transparent;
    border: 0px;
    input: disabled;
}

.wizard .element {
    display: block;
}

.wizard .element .description {
    display: inline-block;
    font-size: 11px;
    width: 250px;
    word-wrap: break-word;
}

.wizard .element .input {
    display: inline;
}

.wizard .error {
    background: url(../images/icons/famfamfam/exclamation.png) no-repeat 230px 4px;
}

.wizard .element .input input {
    vertical-align: top;
    border: 1px solid #CCC;
    margin: 2px 0;
    padding: 2px 4px;
}

.wizard .element .input input:focus, select:focus, textarea:focus {
    border: 1px solid #B2D1FF;
}

/** START ::  HELP **/
.wizard .element .helpIcon {
    display: inline-block;
    margin-top: 4px;
    background: url(../images/icons/famfamfam/help.png) no-repeat left top;
    width: 16px;
    height: 16px;
}

.wizard .element .helpContent {
    display: none;
}

.wizard .element .help {
    vertical-align: top;
    display: inline-block;
}

.wizard .element .help .icon {
    margin-top: 4px;
    background: url(../images/icons/famfamfam/help.png) no-repeat left top;
    width: 16px;
    height: 16px;
}

.wizard .element .help .content {
    display: none;
}

/** END :: HELP **/

/* START ::  TABLE */
.wizard .table {
    display: block;
    border: 1px solid #575a5d;
    background-color: #ebf7fc;
    margin-top: 10px;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}

.wizard .table .header {
    display: block;
    background-color: #006DBA;
    color: #fff;
    font-weight: bold;
    width: auto;
    height: 32px;
    line-height: 32px;
}

.wizard .column {
    display: inline-block;
    padding: 2px 4px;
    width: 120px;
}

.wizard .firstColumn {
    display: inline-block;
    padding: 2px 4px;
    width: 20px;
}

.wizard .table .row {
    display: block;
    height: 32px;
    border-top: 1px solid #8e908f;
    width: auto;
}

.wizard .table .row input, .wizard .table .row select {
    background-color: #fff;
}

.wizard .table .ui-selected {
    background-color: #ffab7b;
}

.wizard .table .ui-selecting {
    background-color: #f2e3bc;
}

.wizard .table .row .warning {
    color: red;
    font-size: 8px;
    height: 10px;
}

.wizard .table .row .error {
    background-color: #ffb0b7;
}

.wizard .table input[type=text], .wizard .table select {
    border: 1px solid #8e908f;
    margin: 2px 0;
    padding: 2px 4px;
    background-color: transparent;
    width: 100px;
}
.wizard .table .header input[type=text], .wizard .table .header select, .wizard .table .header button {
    border: 1px solid #8e908f;
    margin: 2px 0;
    padding: 2px 4px;
    background-color: #fff;
    width: 75px;
}

.wizard .table .highlight, .wizard .table .highlight input, .wizard .table .highlight select {
    background-color: #006DBA;
    color: #fff;
}

.wizard .table .highlight input, .wizard .table .highlight select {
    background-color: #6e99d4;
    color: #fff;
}
/* END :: TABLE */

/* START :: BIG BUTTONS and BIG TEXT */
.wizard .bigbutton {
    background: url(../images/wizard/big-button.jpg) no-repeat left top;
    border: 0px;
    width: 454px;
    height: 53px;
    color: #fff;
    font-size: 18pt;
}
.wizard .bigbutton:hover {
    color: #000;
}
.wizard .bigtext {
    color: #006dba;
    font-weight: normal;
    font-size: 24px;
    margin: .8em 0 .3em 0;
    display: block;
    width: 100%;
    text-align: center;
}
/* END :: BIG BUTTONS and BIG TEXT */