.wizard {
    display: block;
    padding-top: 10px;
}

.wizard .info {
    display: block;
    border: 1px solid #006DBA;
    background-color: #f8feff;
    padding: 10px;
    font-size: 10px;
    margin: 10px 0px 10px 0px;
}

.wizard .info .title {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/icons/famfamfam/information.png) no-repeat center left;
}

.wizard .info .error {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/icons/famfamfam/error.png) no-repeat center left;
}

.wizard .info .warning {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/icons/famfamfam/exclamation.png) no-repeat center left;
}

.wizard .info .todo {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/icons/famfamfam/wrench.png) no-repeat center left;
}

.wizard .info .known {
    color:#006DBA;
    font-size:14px;
    font-weight:normal;
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../images/icons/famfamfam/eye.png) no-repeat center left;
}

.wizard .famfamfam {
    width: 16px;
    height: 16px;
}

.wizard .spinner {
    background: url(../images/spinner.gif) no-repeat left top;
    width: 16px;
    height: 16px;
    display: none;
}

.wizard .sliderContainer {
    display: block;
    margin-top: 10px;
    width: 150px;
}

/** START :: TABS **/

.wizard .tabs {
    display: block;
    padding-bottom: 2px;
    border-bottom: 2px solid #006DBA;
    width: 100%;
}
.wizard .tabs ul {
    list-style-type: none; /* suppression of useless elements */
    padding: 0px;
    font-size: 10px;
    margin: 0px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 20px;
    width: 100%;
}
.wizard .tabs img { border:0px; }
.wizard .tabs li {
    float: left;
    margin: 0px;
    height: 20px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #006DBA;
    background: #CCC;
    font-weight: bold;
}
.wizard .tabs .content {
    padding: 0px 10px 0px 10px;
    display: inline;
    border: 0px;
}
.wizard .tabs .active {
    background-color: #006DBA !important;
    color: #fff !important;
    text-shadow: 0px 0px 1px #333;
}
.wizard .tabs .arrow {
		position:inherit;
		margin-top: 0px;
		margin-bottom: 0px;
		display:inline;
}

/** END :: TABS **/

.wizard .content {
    display: block;
    padding-bottom: 10px;
    border-bottom: 2px solid #006DBA;    
}

.wizard .navigation {
    display: block;
    color: #666666;
    font-size: 10px;
}

.wizard .prevnext {
    cursor: pointer;
    color: #006DBA;
    background-color: transparent;
    border: none;
}

.wizard .element .input .isExample {
    color: #006DBA;
    background-color: transparent;
    border: 0px;
    input: disabled;
}

.wizard .element {
    display: block;
}

.wizard .element .description {
    display: inline-block;
    font-size: 11px;
    width: 250px;
    word-wrap: break-word;
    zoom: 1; /* IE 6 & 7 hack */
    *display: inline; /* IE 6 & 7 hack */
}

.wizard .element .input {
    display: inline;
    font-size: 11px;
    word-wrap: break-word;
}

.wizard .element .input input[type="radio"] {
    margin-top: 10px;
    margin-right: 5px;
}

.wizard .required {
    background: url(../images/icons/famfamfam/bullet_go.png) no-repeat 230px 4px;
}

.wizard .error {
    background: url(../images/icons/famfamfam/exclamation.png) no-repeat 230px 2px;
}

.wizard .element .input input, textarea {
    vertical-align: top;
    border: 1px solid #CCC;
    margin: 2px 0;
    padding: 2px 4px;
    background-color: #fff;
}

.wizard .element .input input:focus, select:focus, textarea:focus {
    border: 1px solid #B2D1FF;
    background-color: #fff;
}

/** START ::  HELP **/
.wizard .element .helpIcon {
    display: inline-block;
    margin-top: 4px;
    background: url(../images/icons/famfamfam/help.png) no-repeat left top;
    width: 16px;
    height: 16px;
    zoom: 1; /* IE 6 & 7 hack */
    *display: inline; /* IE 6 & 7 hack */
}

.wizard .element .helpContent {
    display: none;
}
/** END :: HELP **/

/* START ::  TABLE */
.wizard .table {
    display: block;
    border: 1px solid #575a5d;
    background-color: #ebf7fc;
    margin-top: 10px;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}

.wizard .table b {
    color: #006dba;
    font-weight: bold;
}

.wizard .table .selectAll {
    display: inline-block;
    background-color: red;
    background: url(../images/icons/famfamfam/control_eject.png) no-repeat center center;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180g);
    cursor: pointer;
}

.wizard .table .header {
    display: block;
    background-color: #006DBA;
    color: #fff;
    font-weight: bold;
    width: auto;
    height: 32px;
    line-height: 32px;
    text-shadow: 0px 0px 1px #333;
}

.wizard .column .helpIcon {
    display: inline-block;
    margin-top: 4px;
    background: url(../images/icons/famfamfam/help.png) no-repeat left top;
    width: 16px;
    height: 16px;
    zoom: 1; /* IE 6 & 7 hack */
    *display: inline; /* IE 6 & 7 hack */
}

.wizard .column {
    display: inline-block;
    padding: 2px 4px;
    min-width: 120px;
    zoom: 1; /* IE 6 & 7 hack */
    *display: inline; /* IE 6 & 7 hack */
}

.wizard .firstColumn {
    display: inline-block;
    padding: 2px 4px;
    width: 20px;
    zoom: 1; /* IE 6 & 7 hack */
    *display: inline; /* IE 6 & 7 hack */
}

.wizard .table .row {
    display: block;
    height: 32px;
    border-top: 1px solid #8e908f;
    width: auto;
}

.wizard .table .row input, .wizard .table .row select {
    background-color: #fff;
}

.wizard .table .ui-selected {
    background-color: #ffab7b;
}

.wizard .table .ui-selecting {
    background-color: #f2e3bc;
}

.wizard .table .row .warning {
    color: red;
    font-size: 8px;
    height: 10px;
}

.wizard .table .row .error {
    background-color: #ffb0b7;
}

.wizard .table input[type=text], .wizard .table select {
    border: 1px solid #8e908f;
    margin: 2px 0;
    padding: 2px 4px;
    background-color: transparent;
    width: 100px;
}
.wizard .table .header input[type=text], .wizard .table .header select, .wizard .table .header button {
    border: 1px solid #8e908f;
    margin: 2px 0;
    padding: 2px 4px;
    background-color: #fff;
    width: 75px;
}

.wizard .table .highlight, .wizard .table .highlight input, .wizard .table .highlight select, .wizard .table .highlight b {
    background-color: #006DBA;
    color: #fff;
}

.wizard .table .highlight input, .wizard .table .highlight select {
    background-color: #6e99d4;
    color: #fff;
}
/* END :: TABLE */

/* START :: BIG BUTTONS and BIG TEXT */
.wizard .bigbutton {
    background: url(../images/wizard/big-button.jpg) no-repeat left top;
    border: 0px;
    width: 454px;
    height: 53px;
    color: #fff;
    font-size: 18pt;
}
.wizard .bigbutton:hover {
    color: #000;
}
.wizard .bigtext {
    color: #006dba;
    font-weight: normal;
    font-size: 24px;
    margin: .8em 0 .3em 0;
    display: block;
    width: 100%;
    text-align: center;
}
/* END :: BIG BUTTONS and BIG TEXT */

.vertical {
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
	width:20px;
	height:100px;
	text-shadow: 0px 0px 1px #333;
    border: 1px solid red;
}

.wizard .upload_button {
    display: inline; border: 1px solid #006dba; padding: 4px 8px; cursor: pointer; line-height: 26px;
}

.wizard .upload_info {
    display: inline; color: #006dba;
    margin-left: 5px; 
}
.wizard .upload_info .error {
    color: red;
}

.wizard ul.publication_list, .wizard ul.contact_list {
    list-style-type: none;
    margin: -10px 0 0 255px;
    padding: 0;
}

.wizard ul.publication_list li, .wizard ul.contact_list li {
    margin-left: 0px;
    padding: 4px 6px;
}

.wizard li.even {
    background-color: #F3F3F3;
}
.wizard li.odd {
    background-color: #FAFAFA;
}

.wizard li .delete_button { float: right; margin-left: 10px; cursor: pointer; }
.wizard ul.publication_list li .authors { font-size: 10px; margin-top: 3px; color: #333; }
.wizard ul.contact_list li .person { display: inline; }
.wizard ul.contact_list li .role { color: #000099; display: inline; margin-left: 5px; }
.wizard ul.contact_list li .role:before { content: ' / '; color: #000099; }
.wizard .contacts_dialog { margin: 5px 0; }